.task-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
  padding: 15px 20px;
  border-radius: 5px;
  color: #eee;
  background-color: #444;
  cursor: pointer;
  .task-title {
    width: 100%;
  }
  .buttons-container {
    height: 24px;
    .remove-task-button {
      height: 24px;
      margin: 0;
      padding: 0;
      border: none;
      font-size: 24px;
      color: chartreuse;
      background-color: transparent;
    }
  }
}